.background {
    background-image: url("background.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    display:flex;
    flex-direction:column;
    
}

body .container {
    border-bottom: 2px dotted red;
}

.header {
    height:80px;
    background-color:rgba(127, 124, 151, 0.5);
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.2);
}

.intro {
    height:450px;
}

.abdomen {
    background-color:rgba(127, 124, 151, 0.5);
    border-radius:5px;

    height:1200px;

    display: flex;
    flex-direction:column;
}
.imageset,
.sign-up {
    background-color:rgba(105, 77, 158, 0.712);
    border-radius:inherit;
}
.imageset {
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);

    height:500px;
}
.quote {
    flex:1;
}
.sign-up {
    box-shadow:0px -5px 5px rgba(0, 0, 0, 0.2);
    height:300px;
}


.footer {
    height: 80px;
}